/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-neutral-50 text-neutral-800 font-sans;
}

h1 {
  color: #ffffff;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #d1d5db;
}
